.auth-form-wrapper {
   display: grid;
   justify-content: center;

   & h1 {
      font-weight: 400;
      line-height: 35px;
   }

   & .auth-page-form {
      width: 339px;
   }
}

.auth-inputs-wrapper {
   display: grid;
   gap: 16px;

   & .inputs {
      position: relative;
      width: 339px;
      height: 36px;
      border: dotted 1px #ececec;
      border-radius: 8px;
      text-align: start;

      & input {
         font-size: 12px;
         font-weight: 400;
         line-height: 16.2px;
         color: #79747f;
         padding: 10px 12px;
         border: none;
         width: 311px;
         height: 36px;
      }

      & #password-icon {
         position: absolute;
         right: 12px;
         top: 10px;
         width: 16px;
         height: 16px;
         cursor: pointer;
         display: flex;
         justify-content: center;
         align-items: center;

         & img {
            width: 16px;
            height: 16px;
         }
      }
   }

   ::placeholder {
      font-weight: 400;
      font-size: 12px;
      line-height: 16.2px;
      color: #79747f;
   }

   & .checkbox-wrapper {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 10px;

      & input {
         width: 24px;
         height: 24px;
      }

      & label {
         font-weight: 400;
         font-size: 12px;
         line-height: 16.2px;
         color: #79747f;
      }
   }
}

.auth-btn-wrapper {
   padding-top: 32px;
   gap: 6px;

   & .btn-form {
      width: 339px;
      height: 48px;
      padding: 10px 86px;
      gap: 8px;
      border: none;
      border-radius: 30px;
      font-size: 18px;
      font-weight: 700;
      line-height: 22.5px;
      text-align: center;
      color: #fff;
      background-color: #8d7fc7;
      cursor: pointer;

      &:hover {
         background-color: #8170c2;
      }
   }

   & .entring-as {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 339px;
      height: 48px;

      & span {
         font-size: 16px;
         font-weight: 400;
         line-height: 21.6px;
         color: #008aff;
         cursor: pointer;
      }
   }
}
