.cal-month {
   width: 160px;
   height: 24px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 16px;

   & i {
      width: 24px;
      height: 24px;
      cursor: pointer;
   }

   & .current-date {
      width: 90px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2px;

      & span {
         font-size: 16px;
         font-weight: 700;
         line-height: 20px;
         color: #323854;
      }
   }
}
